name: Windows RDP Full

on:
  workflow_dispatch:

jobs:
  rdp-job:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Enable RDP
        shell: powershell
        run: |
          Set-ItemProperty `
            -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' `
            -Name "fDenyTSConnections" `
            -Value 0

          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Restart-Service -Name TermService -Force

      - name: Create RDP User
        shell: powershell
        run: |
          $password = -join ((33..126) | Get-Random -Count 16 | ForEach-Object {[char]$_})
          $securePass = ConvertTo-SecureString $password -AsPlainText -Force

          New-LocalUser `
            -Name "RDP" `
            -Password $securePass `
            -AccountNeverExpires `
            -PasswordNeverExpires

          Add-LocalGroupMember -Group "Administrators" -Member "RDP"
          Add-LocalGroupMember -Group "Remote Desktop Users" -Member "RDP"

          echo "RDP_USER=RDP" >> $env:GITHUB_ENV
          echo "RDP_PASS=$password" >> $env:GITHUB_ENV

      - name: Downloading Essentials
        shell: powershell
        run: |
          Write-Host "Downloading installer..."
          Invoke-WebRequest `
            -Uri "https://gitlab.com/raposabrty/pcrdp/-/raw/main/Downloads.bat" `
            -OutFile "Downloads.bat" `
            -UseBasicParsing

          Write-Host "Downloaded file contents:"
          Get-Content Downloads.bat

      -
